$primary-color:#0b1820;
$primary-outline-color:#11383f;
$primary-words-color:#f2f4f0;
$secondary-color:#257c7a;
$background-color:#05050b;
$border-color:#021f1a;
$gutter-color:#05050b;
$faded-text-color:#f2f4f0;
$log-icon-color:#257c7a;
$log-icon-text-color:#0b1820;
$text-color:#9f9f9f;
